.t1{
    font-style: oblique;
    background-color: rgb(105, 133, 142);
    border-radius: 50px;
    
}

#img1{
    width: 100vw;
    height: 50vh;
    object-fit: fill;
}

.table1{
    width: 30vw;
    height: 20vh;
}